---
driver: viirs2awips.sh
driver_crefl: crefl2awips.sh
configs:
  npp:
    driver: 'run_heap.bash -s npp --noclean -d /cspp/dyno/nucaps_anc -vv -m HR_IRMW
      -p 6 '
    save:
    - "*.nc"
  noaa20:
    driver: 'run_heap.bash -s j01 --noclean -d /cspp/dyno/nucaps_anc -vv  -m HR_IRMW
      -p 6 '
    save:
    - "*.nc"
  metop-b:
    driver: '/cspp/CSPP_HEAP_2_0/scripts/run_heap.bash -s m01 --noclean -d /cspp/dyno/nucaps_anc -vv -p 6 '
    save:
    - "*.nc"
  metop-c:
    driver: '/cspp/CSPP_HEAP_2_0/scripts/run_heap.bash -s m03 --noclean -d /cspp/dyno/nucaps_anc -vv -p 6 '
    save:
    - "*.nc"
limits:
  processor: 2
